---
layout: default
title: Webentwickler { Paderborn }
---

<section id="aboutus">
  {% include about.html %}
</section>

<section id="next-meeting">
  {% assign current = site.categories.events.first %}

  {{ current.content }}
</section>

<section id="archive">
  <h2>Letzte Treffen</h2>
  <ul>
    {% for post in site.categories.events %}
      <li><span>{{ post.event-date | date: "%d.%m.%Y" }}</span> - <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</section>

<h2>Kontakt</h2>
