<h2>Kontakt</h2>
<p>
  Du hast Fragen zu dem Event, kennst ein interessantes Vortragsthema, oder möchtest uns einfach Feedback geben?
  Erreichen kannst du uns per E-Mail, Twitter, Mailinglist oder persönlich beim nächsten Event.
  Das Orgateam freut sich auf deine Nachricht!
</p>
<p>
  Du möchtest auf dem laufenden bleiben und aktuelle Diskussionen um den Webentwickler Paderborn Abend verfolgen?
  Dann ist unsere Mailingliste genau das richtige für dich. Für alle die es lieber kompakt mögen: Folge uns auf Twitter!
</p>
<div class="wrapper">
  <section id="contact-mail">
    <h3>Email</h3>
    <p><a href="mailto:mail@webentwickler-paderborn.de">mail@webentwickler-paderborn.de</a></p>
  </section>
  <section id="contact-mailinglist">
    <h3>Mailingliste</h3>
    <p><a href="https://groups.google.com/forum/?fromgroups#!forum/webentwickler-paderborn">webentwickler-paderborn@googlegroups.com</a></p>
  </section>
  <section id="contact-twitter">
    <h3>Twitter</h3>
    <p><a href="https://twitter.com/we_pb">@we_pb</a></p>
  </section>
</div>

