<h2>Kontakt</h2>
<p>...</p>
<div class="wrapper">
  <section id="contact-mail">
    <h3>Email</h3>
    <p><a href="mailto:mail@webentwickler-paderborn.de">mail@webentwickler-paderborn.de</a></p>
  </section>
  <section id="contact-mailinglist">
    <h3>Mailingliste</h3>
    <p><a href="https://groups.google.com/forum/?fromgroups#!forum/webentwickler-paderborn">webentwickler-paderborn@googlegroups.com</a></p>
  </section>
  <section id="contact-twitter">
    <h3>Twitter</h3>
    <p><a href="https://twitter.com/we_pb">@we_pb</a></p>
  </section>
</div>

