<h2>Kontakt</h2>
<p>
  Wir würde uns wünschen, wenn unsere Webdeveloper-Usergroup einen stetigen Mitgliederzuwachs erhält.
  Scheu Dich nicht, uns zu schreiben, sei es per Email an das (bisher fünfköpfige) Organisationsteam,
  an unsere Mailingliste oder per Twitter.
</p>
<p>
  Um auf den Laufenden zu bleiben empfehlen wir den Betritt in unsere Mailingliste.
</p>
<div class="wrapper">
  <section id="contact-mail">
    <h3>Email</h3>
    <p><a href="mailto:mail@webentwickler-paderborn.de">mail@webentwickler-paderborn.de</a></p>
  </section>
  <section id="contact-mailinglist">
    <h3>Mailingliste</h3>
    <p><a href="https://groups.google.com/forum/?fromgroups#!forum/webentwickler-paderborn">webentwickler-paderborn@googlegroups.com</a></p>
  </section>
  <section id="contact-twitter">
    <h3>Twitter</h3>
    <p><a href="https://twitter.com/we_pb">@we_pb</a></p>
  </section>
</div>

