@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general/clearfix";
@import "compass/utilities/general/float";
@import "compass/layout/sticky-footer";
@import "compass/typography/text/replacement";

@import "font-awesome";

// Font setting
$blueprint-font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
$blueprint-font-size: 15px;
$footer-font-size: $blueprint-font-size + 2px;

// Layout
$centered-layout-width: 900px;
$side-padding: 10px;
$footer-height: 110px;
$footer-border-top-width: 5px;

// Colors
$font-color: #444;
$header-color: #317EAC;
$link-color: $header-color;
$link-hover-color: lighten($link-color, 20%);
$link-focus-color: $link-hover-color;
$link-active-color: $link-hover-color;
$link-visited-color: $link-color;

$body-background-color: #eee;

$headline-font-color: $header-color;
$headline-border-color: #ccc;

$footer-background-color: #444;
$footer-font-color: #ccc;
$footer-link-color: $footer-font-color;

$header-background-color: #f9f9f9;
$header-border-color: $headline-border-color;

// Images
$logo-image: "logo.png";
$body-background-image: "furley_bg.png";
$footer-background-image: "darkdenim3.png";
$icon-padding: 25px;

// Misc
@import "blueprint/typography";
@include blueprint-typography;
@include sticky-footer($footer-height + $footer-border-top-width, "#container", "#footer-push", "#footer");

@mixin centered-layout($padding-top, $padding-bottom) {
  margin: 0 auto;
  padding: $padding-top $side-padding $padding-bottom $side-padding;
  max-width: $centered-layout-width;
}

@mixin replace-image($image) {
  @include replace-text(image-url($image));
  display: block;
  width: image-width("_assets/images/" + $image);
  height: image-height("_assets/images/" + $image);
}


// CSS
body {
  background-color: $body-background-color;
  background-image: image-url($body-background-image);
}

h2 {
  border-bottom: 1px solid $headline-border-color;
  color: $headline-font-color;
  padding-top: 20px;
  @media screen and (max-width: 400px) {
    font-size: 1.5em;
  }
}

h3 {
  padding-top: 15px;
}

h4 {
  padding:0;
  margin:0;
}

h1, h2, h3 {
  font-family: 'Arvo', serif;
}

#main {
  @include centered-layout(0, 100px);
}

header {
  border-top: 5px solid $header-color;
  border-bottom: 1px solid $header-border-color;
  background-color: $header-background-color;
  #header-content {
    @include centered-layout(25px, 25px);
    h1 {
      margin: 0;
      font-size: 3.5em;
      @media screen and (max-width: 510px) {
        font-size: 3em;
      }
      @media screen and (max-width: 450px) {
        font-size: 2.5em;
      }
      @media screen and (max-width: 380px) {
        font-size: 2em;
      }
      a {
        text-decoration: none;
        margin: 0 auto;
        color: black;
      }
      .logo-bold {
        font-weight: bold;
      }
      .logo-protocol {
        color: $header-color;
      }
    }
  }
}

footer {
  height: $footer-height;
  border-top: $footer-border-top-width solid $header-color;
  background-color: $footer-background-color;
  background-image: image-url($footer-background-image);
  #footer-content {
    @include centered-layout(40px, 0);
    @include clearfix;
    color: $footer-font-color;
    font-size: $footer-font-size;
    a {
      @include float-left;
      margin-right: 30px;
      color: $footer-link-color;
    }
    span {
      @include float-right;
      font-style: italic;
    }
  }
}

// Icons
#aboutus h2 {
  @include icon-before($icon-question-sign, $icon-padding);
}
#next-meeting {
  h2 {
    @include icon-before($icon-calendar, $icon-padding);
  }
  h3#themen {
    @include icon-before($icon-list-ol, $icon-padding);
  }
  h3#location {
    @include icon-before($icon-map-marker, $icon-padding);
  }
}
#archive h2 {
  @include icon-before($icon-backward, $icon-padding);
}


$contact-column-padding: 5%;
$contact-column-count: 3;
$contact-column-inner-width: (100% - ($contact-column-count * 2 - 2) * $contact-column-padding) / $contact-column-count;


#contact {
  div.wrapper  {
    @include clearfix;
  }
  h2 {
    @include icon-before($icon-exchange, $icon-padding);
  }
  @media screen and (min-width: 750px) {
    section {
      @include float-left;
      @include box-sizing(border-box);
      border-right: 1px solid $headline-border-color;
      padding: 0 $contact-column-padding;
      width: $contact-column-inner-width + 2 * $contact-column-padding;
      min-height: 130px;
      &:first-child, &:last-child {
        width: $contact-column-inner-width + $contact-column-padding;
      }
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
        border-right: none;
      }
    }
  }
  #contact-mail h3{
    @include icon-before($icon-envelope, $icon-padding);
  }
  #contact-mailinglist h3{
    @include icon-before($icon-group, $icon-padding);
  }
  #contact-twitter h3 {
    @include icon-before($icon-twitter, $icon-padding); 
  }
}

.map {
  position: relative;

  img {
    max-width: 100%;
  }

  .attribution, .map-links {
    display: block;
    position: absolute;
    bottom: 5px;
    padding: 2px 6px;
    background-color: rgba(255,255,255,0.7);
  }

  .attribution {
    right: 0;
  }

  .map-links {
    left: 0;
    a {
      @include icon-before($icon-external-link, 5px);
      text-decoration: none;
      margin-left: 10px;
      &:first-child {
        margin-left: 5px;
      }
    }
  }
}
