@import "compass/reset";
@import "blueprint/typography";
@import "compass/css3/images";

// Font setting
$blueprint-font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
$blueprint-font-size: 15px;

// Layout
$centered-layout-width: 900px;

// Colors
$font-color: #444;
$header-color: #317EAC;
$link-color: $header-color;
$link-focus-color: $link-hover-color;
$link-active-color: $link-hover-color;
$link-hover-color: lighten($link-color, 20%);
$link-visited-color: $link-color;

$container-background-color: #FFF;
$body-background-color: #eee;

$container-border-color: #BBC;
$headline-font-color: $header-color;
$headline-border-color: #ccc;


// Images
$logo-image: "logo.png";
$body-background-image: "furley_bg.png";
$footer-background-image: "darkdenim3.png";

// Misc
@include blueprint-typography;

@mixin centered-layout {
  margin: 0 auto;
  max-width: $centered-layout-width;
}


// CSS
body {
  background-color: $body-background-color;
  background-image: image-url($body-background-image);
}

h1 a {
  // TODO: Replace with logo image
  // @replace-text-with-dimensions($logo-image);
  color: $header-color;
  text-decoration: none;
}

h2 {
  display: block;
  border-bottom: 1px solid $headline-border-color;
  color: $headline-font-color;
  padding: 40px 15px 2px 0;
}

h3 {
  padding-top: 15px;
}
