@import "compass/reset";
@import "blueprint/typography";
@import "compass/css3/images";

// Font setting
$blueprint-font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
$blueprint-font-size: 15px;

// Layout
$centered-layout-width: 900px;

// Colors
$font-color: #444;
$header-color: #317EAC;
$link-color: $header-color;
$link-focus-color: $link-hover-color;
$link-active-color: $link-hover-color;
$link-hover-color: lighten($link-color, 20%);
$link-visited-color: $link-color;

$body-background-color: #eee;

$headline-font-color: $header-color;
$headline-border-color: #ccc;

$footer-background-color: #444;
$footer-font-color: #ccc;

$header-background-color: #f9f9f9;
$header-border-color: $headline-border-color;

// Images
$logo-image: "logo.png";
$body-background-image: "furley_bg.png";
$footer-background-image: "darkdenim3.png";

// Misc
@include blueprint-typography;

@mixin centered-layout {
  margin: 0 auto;
  max-width: $centered-layout-width;
}


// CSS
body {
  background-color: $body-background-color;
  background-image: image-url($body-background-image);
}

h1 {
  // TODO: Replace with logo image
  // @replace-text-with-dimensions($logo-image);
  color: $header-color;
  margin: 0;
  a {
  text-decoration: none;
}
}

h2 {
  display: block;
  border-bottom: 1px solid $headline-border-color;
  color: $headline-font-color;
  padding: 40px 15px 2px 0;
}

h3 {
  padding-top: 15px;
}

#main {
  @include centered-layout;
}

header {
  border-top: 5px solid $header-color;
  border-bottom: 1px solid $header-border-color;
  background-color: $header-background-color;
  #header-content {
    @include centered-layout;
    padding: 30px 0;
  }
}

footer {
  margin-top: 100px;
  border-top: 5px solid $header-color;
  background-color: $footer-background-color;
  background-image: image-url($footer-background-image);
  #footer-content {
    @include centered-layout;
    padding: 40px 0;
    color: $footer-font-color;
  }
}