<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
    {% stylesheet app %}
  </head>
  <body>
    <div id="container">
      <header id="header">
        <div id="header-content">
          <h1>
            <a href="/">
              <span class="logo-bold"><span class="logo-protocol">Web</span>entwickler</span>
              <br/>
              <span class="logo-city">Paderborn</span>
            </a>
          </h1>
        </div>
      </header>

      <div id="main">
          {{ content }}
      </div>

      <div id="footer-push"></div>
    </div>

    <footer id="footer">
      <div id="footer-content">
        <a href="/imprint.html">Impressum</a>
        <span>Webentwickler Paderborn</span>
      </div>
    </footer>
  </body>
</html>
