<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    {% stylesheet app %}
  </head>
  <body>
    <div class="site">
      <header class="title">
        <h1><a href="/">Webentwickler { Paderborn } </a></h1>
      </header>

      {{ content }}

      <footer class="footer">
        <a href="/imprint.html">Impressum</a>
      </footer>
    </div>
  </body>
</html>
