<h2>Wer wir sind</h2>

<p>
  Wir, die Webentwickler Paderborn, sind eine Initiative
  zur Förderung der Gemeinschaft der WebentwicklerInnen in Paderborn.
  Wir veranstalten regelmäßige Treffen (alle 2 Monate), in denen wir uns Vorträge
  zu aktuellen technischen Themen anhören, neue Leute kennenlernen und uns austauschen.
  Zu diesen Treffen ist jeder herzlich eingeladen. Ihr braucht euch nicht anzumelden,
  kommt einfach vorbei!
</p>
<p>
  Bewusst wollen wir uns auf keine Programmiersprache, Frameworks oder Entwicklungsumgebung,
  festlegen. Die Veranstaltungen richten sich an Gleichgesinnte und technisch versierte EntwicklerInnen in
  Unternehmen, im Studium oder als Freelancer.
</p>
<p>
  Freuen würden wir uns, wenn auch Du uns einen interessanten Aspekt aus dem Web
  in Form eines Vortrages (mit ca. 30 Minuten Länge) vorstellen möchtest. Wir sind, je nach Interesse,
  ebenfalls offen für neue Konzepte unserer Treffen (Workshops, Hackathons, Live-Coding-Battles, Stammtische, ...).
</p>
