---
title: Webentwickler Paderborn
---

<section id="aboutus">
  <%= partial "about" %>
</section>

<section id="next-meeting">
  <%= next_event.render_partial %>

  <%= render_map(next_event.address, next_event.location) %>
</section>

<!-- <section id="archive"> -->
<!--   <h2>Letzte Treffen</h2> -->
<!--   <ul> -->
<!--     {% for post in site.categories.events %} -->
<!--       <li><span>{{ post.event&#45;date | date: "%d.%m.%Y" }}</span> &#45; <a href="{{ post.url }}">{{ post.title }}</a></li> -->
<!--     {% endfor %} -->
<!--   </ul> -->
<!-- </section> -->

<section id="contact">
  <%= partial "contact" %>
</section>

